<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.itwill.joo.repository.BasketProductRepository">
		
		
		<!-- 상품을 장바구니에 넣는다. -->
		<insert id="insertProductAddBasket">
			insert into BASKET_PRODUCTS (B_ID , P_ID, PCOUNT) values (#{b_id} , #{p_id} , #{pcount})
		</insert>
		
		<!-- 장바구니 리스트를 보여준다. -->
		<!-- <select id="selectOrderByBasketProductIdDesc" >						
			select P.PNAME, P.PPRICE, PB.PCOUNT
			from PRODUCTS P , BASKET_PRODUCTS PB 
			WHERE P.ID = PB.P_ID AND PB.B_ID = ${userId}
			ORDER BY PB.ID DESC
		</select> -->
		
		<!-- <select id="selectOrderByBasketProductIdDesc" >
			select bp.*
			from BASKET b, BASKET_PRODUCTS bp
			where b.id = bp.b_id
			and b.u_id = #{u_id}
			order by bp.id desc
		</select> -->
		<select id="selectOrderByBasketProductIdDesc" resultType="com.itwill.joo.dto.BasketProductListDto">
			select bp.*, p.pname, p.pprice
			from BASKET b, BASKET_PRODUCTS bp, PRODUCTS p
			where b.id = bp.b_id
			and bp.p_id = p.id
			and b.id = #{b_id}
			order by bp.id desc
		</select>
		
		<!-- userId의 장바구니 상품을 전체 삭제한다. -->
		 <delete id="deleteAll">
	        delete from BASKET_PRODUCTS
	        where B_ID in  (
	        select BP.B_ID
	        from BASKET_PRODUCTS BP
	        INNER JOIN BASKET B ON BP.B_ID = B.ID
	        INNER JOIN USERS U ON U.ID = B.U_ID
	        WHERE U.ID = ${userId}
	        )
   		 </delete>
		
		
		<!-- 회원의 장바구니 상품 개별 삭제 -->
		<delete id="deleteById">		
			delete from BASKET_PRODUCTS
			where ID = #{id}
		</delete>
		
		
		
	
		
		
		
		
	</mapper>